/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
.zone-header-wrapper {
	position:relative;
	background-position:0 57px;
}

#zone-branding.container-12 .grid-3 {
	width:220px;
}

#zone-branding.container-12 .prefix-9 {
	padding-left:480px;
}

#region-branding .logo-img img {
	width:230px;
}

.region-menu-inner .navigation ul {
	text-align:right;
	font-size:18px;
	font-family:'Lobster',cursive;
}

.region-menu-inner .navigation li {
	margin-right:0;
	margin-left:8px;
	padding-right:0;
}

#block-block-1 h3 {
	font-size:18px;
}

.region-user-first-inner #block-block-1 .content {
	margin-top:-10px;
	padding:10px 0 2px;
}

.region-menu-inner .navigation {
	margin-top:11px;
	text-align:right;
}

.region-branding-inner .logo-img {
	margin-top:-15px;
	margin-bottom:35px;
}

.region-sidebar-first-inner .block-webform .block-inner #webform-component-room div.form-item {
	display:block;
	float:none;
	margin:0 0 5px;
	font-size:15px;
	font-family:'Lobster',cursive;
}

.region-sidebar-first-inner .block-webform .form-radios {
	margin-top:20px;
}

iframe,object,embed {
	height:240px;
}

.view-rooms .views-field-field-images li {
	display:inline-block;
	margin-right:20px;
	margin-bottom:10px;
	margin-left:0;
	padding:3px;
	width:92px;
	border:1px solid #e3e3e3;
}

.view-rooms .views-field-field-images li:nth-child(4n+4) {
	margin-right:0;
}

.room-price {
	display:block;
}