/* This file will hold styles that are loaded using the same media query as the wide grid. */
.front .zone-header-wrapper {
  background-position: 1px 227px;
}

.zone-header-wrapper {
  background-position: 1px 150px;
}

.region-user-first-inner #block-block-1 .content {
  background-size: 22px 62px;
}

.view-rooms .views-field-field-images li {
  width: 168px;
}

.view-restaurants-and-activities .views-row .attraction-phone,
.view-restaurants-and-activities .views-row .attraction-address {
  display: block;
}

.view-rooms .views-field-field-images li {
  width: 168px;
}

.view-rooms .views-field-field-images li img {
  width: 100%;
}

.view-rooms .views-field-field-images li:nth-child(4n+4) {
  margin-right: 0px;
}
